{{ define "main" }}
{{ if eq .Section "workshops" }}
<div style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <h1>{{ .Params.title }}</h1>
  <h4>Date: {{ .Params.workshopdate }}</h4>
  <h4>Location: {{ .Params.workshoplocation }}</h4>
  <div>
  {{ .Content }}
  </div>
</div>
{{ else if eq .Section "workshopday-specific-locations" }}
<div style="max-width: 800px; margin-left: auto; margin-right: auto;">
  <h1>{{ .Params.title }}</h1>
  <h4>Date: {{ .Params.workshopdate }}</h4>
  <h4>Location: {{ .Params.workshoplocation }}</h4>
  <div>
  {{ .Content }}
  </div>
</div>
{{ else if eq .Section "next-steps" }}
<section class="page-section">
    <div class="container">
        <div class="page-content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ else }}
{{ .Content }}
{{ end }}
{{ end }}
